.form{
    background-color: aqua;
    padding-left: 5rem;
    border-bottom: 10px salmon;
    font-size: xx-large;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 5px gray;
    /* display: inline-table; */
    max-width: 60%;
    align-items: center;
}
.container .form-button{
     text-align: right;
     padding-right: 4rem;
     padding-bottom: 1.5rem;
     /* column-gap: 2rem; */
     
}
#submit{
    background-color: blue;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px;
}
#reset{
    background-color: red;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px;

    /* padding-bottom: 2rem; */
}
 
